main{
    
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
 
 
}
.blog-form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
     justify-content: space-around;
     position: relative;
}
.blog-form input{
    width: 70%;
    padding: 0.8rem;
    margin-bottom: 2rem;
    border: 2px solid var(--black);
    border-radius: 10px;
    font-size: 1.5rem; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
 
}
.blog-form textarea{
    width: 70%;
    padding: 5rem;
    margin-bottom: 2rem;
    border: 2px solid var(--black);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 

}
.blog-form label{
   align-self: flex-start;
    font-size: 1.5rem;
    margin-left: 14rem;
    margin-bottom: 10px;

    
}


.blue-btn {
    width: 8vw;
    margin: 1rem;
    padding:6px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
    cursor: pointer;
    transition: box-shadow 0.3s; 
    background-color: var(--white);
    color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
    font-size: 2rem;
  
}
.btn{
    width: 8vw;
    padding: 6px;
    font-size: 1.8rem;
}

.previewDiv{
    /* border-top: 2px solid var(--black); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    width: 50%;
}
.preview-section{
    margin-top: 10px;
}
.previewDiv h2{
    font-size: 3rem;
    color: var(--dark-blue);
}
.preview-section p{
    font-size: 2rem;
}
.preview-section img{
    width: 50%;
    margin: 1rem auto;
}
.auther{
    color: var(--dark-blue);
}
@media (max-width:768px) {
    .btn {
        width: 8rem;
    }
    .blue-btn{
        width: 8rem;
  
    }
    .blog-form label{
        margin-left: 9rem;

    }   
    
}

    
