main{
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
 
  
}
.blog-form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 30px;
    align-items: center;
}
.blog-form input{
    width: 90%;
    padding: 1.5rem;
    margin-bottom: 2rem;
    border: 2px solid var(--black);
    border-radius: 10px;

   
    
}
.blog-form textarea{
    width: 90%;
    padding: 10rem;
    margin-bottom: 2rem;
    border: 2px solid var(--black);
    border-radius: 20px;

}
.blog-form label{
    font-size: 2rem;
    margin-left: 2rem;
    margin-bottom: 10px;
    
}
.blue-btn{
    width: 15vw;
    margin: 1rem 10rem;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
    cursor: pointer;
    transition: box-shadow 0.3s; 
    background-color: var(--white);
    color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
    font-size: 2rem;
}
.btn{
    width: 15vw;
}

.previewDiv{
    border-bottom: 2px solid var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    width: 90%;
}
.preview-section{
    margin-top: 10px;
}
.previewDiv h2{
    font-size: 4rem;
    color: var(--dark-blue);
}
.auther{
    color: var(--dark-blue);
}
