.blog-form{
    display: flex;
    flex-direction: column;
    margin: 0 4rem;
    padding: 30px;
}
.blog-form input{
    width: 50%;
    padding: 1rem;
    margin-bottom: 2rem;
    border: 2px solid var(--black);
    border-radius: 20px;
}
.blog-form textarea{
    width: 50%;
    padding: 3rem;
    margin-bottom: 2rem;
    border: 2px solid var(--black);
    border-radius: 20px;

}
.blog-form label{
    font-size: 1rem;
    margin-left: 2rem;
    margin-bottom: 10px;
}
.blue-btn{
    width: 15vw;
    margin: 1rem 10rem;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
  transition: box-shadow 0.
  3s; 
  background-color: var(--white);
  color: var(--dark-blue);
  border: 2px solid var(--dark-blue);


}