/* @keyframes slide {
    0% { transform: translateX(0); }
    33.33% { transform: translateX(0); }
    38.33% { transform: translateX(-100%); }
    71.66% { transform: translateX(-100%); }
    76.66% { transform: translateX(-200%); }
    100% { transform: translateX(-200%); }
} */
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px auto;
    overflow: hidden;
    width: 90%; 
    height: 70%; 
    border-radius: 10px;
}


.carousel-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300%;
    height: 100%;
    overflow: hidden;
    position: relative;
    animation: slide 10s infinite;
}


.carousel-item {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.carousel-item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    aspect-ratio: 2/1;
    border-radius: 5px;
    /* object-fit: cover; */
}
.carousel-item-content{
    position: absolute;
    bottom: 40px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    z-index: 1;
    width: calc(100% - 40px); 
}

.carousel-item-content h3 {
    margin: 0;
    font-size: 3rem;
    color: var(--white);
}

.carousel-item-content a {
    margin-left: auto; 
    display: inline-block;
    padding: 5px 12px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}


.carousel-btn {
    /* position: absolute; */
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--light-gray);
    color: var(--black);
    border: none;
    padding: 20px;
    cursor: pointer;
    z-index: 1;
    font-size: 1rem;
    border-radius: 50%;
    margin: 1rem;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}
