#footer{
    display: flex;
    background-color: var(--white);
    justify-content: space-between;
    align-items: center;
    margin: 0 6rem;
    max-width: 100%;

}
.icon{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-item li{
    margin: 0 15px;
    cursor: pointer;
    font-size: 2rem;
}