
#postGrid{
    container-type: inline-size;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    margin-top: 6rem;
}
/* Container query for larger containers */
@container (min-width: 1200px) {
    #postGrid {
        grid-template-columns: repeat(6, 1fr); /* 6 columns for very large containers */
    }
}

/* Container query for medium to large containers */
@container (min-width: 900px) and (max-width: 1199px) {
    #postGrid {
        grid-template-columns: repeat(4, 1fr); /* 4 columns for large containers */
    }
}

/* Container query for medium containers */
@container (min-width: 600px) and (max-width: 899px) {
    #postGrid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for medium containers */
    }
}

/* Container query for smaller containers */
@container (max-width: 599px) {
    #postGrid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for small containers */
    }
}

/* Container query for very small containers */
@container (max-width: 399px) {
    #postGrid {
        grid-template-columns: repeat(1, 1fr); /* 1 column for very small containers */
    }
}
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
}

.grid-item:hover {
    transform: scale(1.05);
}

.grid-item img {
    width: 100%;
    height: 500px;
   object-fit: cover;

  
}
.grid-item h3 {
    margin: 10px;
    font-size: 18px;
}
#pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 200px;
    height: 300px;
}
.pagination-link {
    margin: 0 5px;
    padding: 10px 16px;
    text-decoration: none;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.pagination-link.active {
    background-color: var(--light-gray);
    color: var(--black);
    border: 1px solid #007bff;
}

.pagination-link:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


