.header{

    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}
.logo{
    width: 7.3vw;
    margin: 2rem;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-item{
    margin: 2.5rem;
    font-size: 3rem;
}
.icon{
    font-size: 2rem;
    display: flex;
}
.icon-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-item li{
    margin: 0 15px;
}
.icon-item li:last-child{
    display: none;
}
@media (max-width: 768px) {
    .icon-item li:last-child{
        display: flex;
    }
    .menu{
        display: none;
    }
 
}
